body{
  font-family:sans-serif;
  text-align:center;
}
h1{
  text-align:center;
  font-size: 40px;
}
@font-face {
  font-family: clock;
  src: url(font/digital7mono.ttf);
}
#timer{
  font-family:clock;
  font-size: 100px;
  text-align:center;
  color:white;
  background-color:black;
  padding:10px;
  margin:50px;
  margin-top:20px;
}
.btn-wrapper{
  display: flex;
}
.btn{
  padding:5px;
  display:inline-block;
  font-size:35px;
  margin-top:50px;
  color:white;
  font-variant:all-small-caps;
  cursor: pointer;
}
#reset{
  background-color:crimson;
  text-align:center;
  color:white;
  width:calc(100% - 110px);
  margin:50px;
  margin-top:-40px;
}
#toTime{
  margin-left: 50px;
  background-color:mediumseagreen;
  width: calc(50% - 55px);
  margin-right: 5px;
}
#count{
  margin-right: 50px;
  background-color:lightseagreen;
  width: calc(50% - 50px);
}
.modal{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  margin:0px;
  text-align:center;
  background-color:rgba(0,0,0,0.5);
  display:none;
}
.content{
  background-color:white;
  width:50%;
  margin-left:25%;
  margin-top:50px;
  border-radius:5px;
  padding:5px 10px;;
  text-align:left;
}
input{
  padding:5px;
  border-radius:5px;
  border:1px solid gray;
}
.x{
  background-color:crimson;
  color:white;
  float:right;
  padding: 0px 5px 5px 5px;
  line-height:30px;
  margin:5px;
}
#go{
  margin:10px;
  background-color:mediumseagreen;
  font-size:30px;
  text-align: center;
  width: calc(100% - 30px);
}
